<p data-hook="admin_product_form_tags" class="omega two columns">
  <%= f.field_container :tags, class: ['form-group'] do %>
    <%= f.label :tag_ids, Spree.t(:tags) %>
    <% if can? :modify, Spree::Tag %>
      <%= f.hidden_field :tag_ids, value: @product.tag_ids.join(',') %>
    <% elsif @product.tags.any? %>
      <ul class="text_list">
        <% @product.tags.each do |tag| %>
          <li><%= tag.name %></li>
        <% end %>
      </ul>
    <% else %>
      <div class="alert alert-info">
        <%= Spree.t(:no_resource_found, resource: :tags) %>
      </div>
    <% end %>
  <% end %>
</p>

<script type="text/javascript" charset="utf-8">
  Spree.routes.tag_search = '<%= spree.admin_tags_path(format: :json) %>';
  $('#product_tag_ids').tagAutocomplete();
</script>